## Observations and Insights

In [61]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mousestudy_data = pd.merge(mouse_metadata, study_results, how="outer", on="Mouse ID")

# Display the data table for preview
mousestudy_data.head(50)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
20,x401,Capomulin,Female,16,15,0,45.000000,0
21,x401,Capomulin,Female,16,15,5,45.473753,0
22,x401,Capomulin,Female,16,15,10,39.113891,0
23,x401,Capomulin,Female,16,15,15,39.776250,0
24,x401,Capomulin,Female,16,15,20,36.065835,0
25,x401,Capomulin,Female,16,15,25,36.617120,0
26,x401,Capomulin,Female,16,15,30,32.915292,0
27,x401,Capomulin,Female,16,15,35,30.206825,0
28,x401,Capomulin,Female,16,15,40,28.167397,0
29,x401,Capomulin,Female,16,15,45,28.484033,0
30,m601,Capomulin,Male,22,17,0,45.000000,0
31,m601,Capomulin,Male,22,17,5,41.408591,1
32,m601,Capomulin,Male,22,17,10,36.825367,1
33,m601,Capomulin,Male,22,17,15,35.464612,1
34,m601,Capomulin,Male,22,17,20,34.255732,1
35,m601,Capomulin,Male,22,17,25,33.118756,1
36,m601,Capomulin,Male,22,17,30,31.758275,1
37,m601,Capomulin,Male,22,17,35,30.834357,1
38,m601,Capomulin,Male,22,17,40,31.378045,1
39,m601,Capomulin,Male,22,17,45,28.430964,1
40,g791,Ramicane,Male,11,16,0,45.000000,0
41,g791,Ramicane,Male,11,16,5,45.851531,0
42,g791,Ramicane,Male,11,16,10,40.170558,0
43,g791,Ramicane,Male,11,16,15,40.678129,0
44,g791,Ramicane,Male,11,16,20,41.211897,0
45,g791,Ramicane,Male,11,16,25,35.569399,1
46,g791,Ramicane,Male,11,16,30,34.952583,1
47,g791,Ramicane,Male,11,16,35,30.960392,1
48,g791,Ramicane,Male,11,16,40,31.369406,1
49,g791,Ramicane,Male,11,16,45,29.128472,1

In [2]:
# Checking the number of mice.
 mousecount = mousestudy_data["Mouse ID"].count()
mousecount

1893

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicatemice_df = mousestudy_data[mousestudy_data.duplicated(['Mouse ID', 'Timepoint'])]
duplicatemice_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicatemice_df.describe()

       Age_months  Weight (g)  Timepoint  Tumor Volume (mm3)  Metastatic Sites
count         5.0         5.0   5.000000            5.000000          5.000000
mean         21.0        26.0  10.000000           50.110118          0.200000
std           0.0         0.0   7.905694            4.012413          0.447214
min          21.0        26.0   0.000000           45.000000          0.000000
25%          21.0        26.0   5.000000           47.570392          0.000000
50%          21.0        26.0  10.000000           49.880528          0.000000
75%          21.0        26.0  15.000000           53.442020          0.000000
max          21.0        26.0  20.000000           54.657650          1.000000

In [60]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
mousestudy_dataclean = mousestudy_data.drop_duplicates(subset=['Mouse ID'])
mousestudy_dataclean

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.0,0
10,s185,Capomulin,Female,3,17,0,45.0,0
20,x401,Capomulin,Female,16,15,0,45.0,0
30,m601,Capomulin,Male,22,17,0,45.0,0
40,g791,Ramicane,Male,11,16,0,45.0,0
...,...,...,...,...,...,...,...,...
1858,z314,Stelasyn,Female,21,28,0,45.0,0
1860,z435,Propriva,Female,12,26,0,45.0,0
1863,z581,Infubinol,Female,24,25,0,45.0,0
1873,z795,Naftisol,Female,13,29,0,45.0,0
1883,z969,Naftisol,Male,9,30,0,45.0,0

In [6]:
# Checking the number of mice in the clean DataFrame.
mousecount_clean = mousestudy_dataclean["Mouse ID"].count()
mousecount_clean

249

## Summary Statistics

In [7]:
#Get a list of all drug types before conducting analysis (ADDED BY ME)
drugtypes = mousestudy_dataclean['Drug Regimen'].value_counts()
drugtypes

Capomulin    25
Ketapril     25
Propriva     25
Naftisol     25
Ceftamin     25
Infubinol    25
Placebo      25
Ramicane     25
Zoniferol    25
Stelasyn     24
Name: Drug Regimen, dtype: int64

In [58]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

drugcategories = mousestudy_dataclean.groupby('Drug Regimen')
drugcategories.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.0,0
10,s185,Capomulin,Female,3,17,0,45.0,0
20,x401,Capomulin,Female,16,15,0,45.0,0
30,m601,Capomulin,Male,22,17,0,45.0,0
40,g791,Ramicane,Male,11,16,0,45.0,0
50,s508,Ramicane,Male,1,17,0,45.0,0
60,f966,Capomulin,Male,16,17,0,45.0,0
65,m546,Ramicane,Male,18,16,0,45.0,0
75,z578,Ramicane,Male,11,16,0,45.0,0
95,u364,Capomulin,Male,18,17,0,45.0,0
454,a203,Infubinol,Female,20,23,0,45.0,0
464,a251,Infubinol,Female,21,25,0,45.0,0
474,a262,Placebo,Female,17,29,0,45.0,0
484,a275,Ceftamin,Female,20,28,0,45.0,0
494,a366,Stelasyn,Female,16,29,0,45.0,0
501,a401,Zoniferol,Female,8,25,0,45.0,0
511,a457,Ketapril,Female,11,30,0,45.0,0
514,a492,Stelasyn,Male,20,25,0,45.0,0
524,a577,Infubinol,Female,6,25,0,45.0,0
531,a685,Infubinol,Male,8,30,0,45.0,0
541,a699,Propriva,Female,5,28,0,45.0,0
551,a788,Zoniferol,Male,5,30,0,45.0,0
558,a818,Naftisol,Female,12,28,0,45.0,0
568,a897,Placebo,Male,7,28,0,45.0,0
578,a963,Stelasyn,Female,23,27,0,45.0,0
588,b313,Zoniferol,Male,12,27,0,45.0,0
594,b447,Ceftamin,Male,2,30,0,45.0,0
595,b487,Ceftamin,Female,6,28,0,45.0,0
601,b559,Naftisol,Male,20,26,0,45.0,0
611,b759,Ceftamin,Female,12,25,0,45.0,0
618,b879,Stelasyn,Female,4,26,0,45.0,0
628,c139,Infubinol,Male,11,28,0,45.0,0
638,c264,Zoniferol,Female,11,27,0,45.0,0
648,c282,Placebo,Male,12,27,0,45.0,0
658,c302,Zoniferol,Female,10,29,0,45.0,0
670,c402,Stelasyn,Female,1,27,0,45.0,0
690,c580,Ketapril,Male,22,25,0,45.0,0
697,c757,Placebo,Male,9,27,0,45.0,0
707,c766,Placebo,Female,13,26,0,45.0,0
717,c819,Ketapril,Male,21,25,0,45.0,0
726,c832,Ketapril,Male,18,29,0,45.0,0
743,c927,Propriva,Female,4,26,0,45.0,0
756,d474,Ketapril,Male,18,27,0,45.0,0
765,e213,Naftisol,Male,8,27,0,45.0,0
785,e291,Naftisol,Female,14,29,0,45.0,0
801,e584,Naftisol,Male,9,27,0,45.0,0
837,f436,Ceftamin,Female,3,25,0,45.0,0
885,g558,Propriva,Male,8,29,0,45.0,0
894,g570,Propriva,Male,16,29,0,45.0,0
908,g989,Propriva,Female,21,26,0,45.0,0

In [57]:
tumormean = drugcategories.groupby(['Tumor Volume (mm3)']).mean()
tumormean

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen